.idea
!.idea/modules.xml
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
/supportsub
erl_crash.dump
# Project exclude paths
/service-discovery/target/
/support/dockerscript/jenkins
!/support/dockerscript/jenkins/jobs/*/config.xml