server:
  port: 8100

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8000/eureka
  instance:
    lease-renewal-interval-in-seconds: 1
    lease-expiration-duration-in-seconds: 2

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: first-service
          uri: lb://my-first-service
          predicates:
            - Path=/first-service/**
          filters:
#            - AddRequestHeader=first-request, first-request-header2
#            - AddResponseHeader=first-response, first-response-header2
            - CustomFilter
        - id: second-service
          uri: lb://my-second-service
          predicates:
            - Path=/second-service/**
          filters:
#            - AddRequestHeader=second-request, second-request-header2
#            - AddResponseHeader=second-response, second-response-header2
            - name: CustomFilter
            - name: LoggingFilter
              args:
                baseMessage: Hi, there.
                preLogger: true
                postLogger: true
#user-service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/login
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment} #segment처리로 userService에는 /user-service/ 이후의 경로만 보냄

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/user
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/actuator/**
            - Method=GET,POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*),/$\{segment}

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/**
            - Method=GET
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*),/$\{segment}
            - AuthorizationHeaderFilter #지정된 url외에는 인증 처리
#catalog-service
        - id: catalog-service
          uri: lb://catalog-service
          predicates:
            - Path=/catalog-service/actuator/**
            - Method=GET,POST
          filters:
            - RewritePath=/catalog-service/(?<segment>.*),/$\{segment}
        - id: catalog-service
          uri: lb://catalog-service
          predicates:
            - Path=/catalog-service/**


#order-service
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order-service/actuator/**
            - Method=GET,POST
          filters:
            - RewritePath=/order-service/(?<segment>.*),/$\{segment}
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order-service/**
          filters:
            - RewritePath=/order-service/(?<segment>.*), /$\{segment}
            - AuthorizationHeaderFilter
            #/order-service/(?<segment>.*): /order-service/로 시작하는 모든 경로를 매칭하고 뒤의 문자열을 segment로 정의.
            #/$\{segment}: 새로운 경로를 정의하는 템플릿
      default-filters:
        - name: GlobalFilter
          args:
            baseMessage: Spring Cloud Gateway GlobalFilter
            preLogger: true
            postLogger: true


token:
  secret: user_token

management:
  endpoints:
    web:
      exposure:
        include: refresh, headth, beans, httptrace, busrefresh